<!-- templates\pages\base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Librerias de Progamador</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    {% load static %}
    <script  src="{% static 'js/app.js' %}"></script>
    <div class="ui three item menu">
        <a class="active item" href="{% url 'home-libros' %}">Libros</a>
        <a class="item" href="{% url 'home-autores' %}">Autores</a>
    </div>
</head>
<br>
    {% block titulo %}
    <h2 class="ui  header">
        <i class="book icon"></i>
        <div class="content">
            Librerias del Programador
        </div>
        <div class="content">
            {{nombre_catalogo}}
           
        </div>
    </h2>
    {% endblock titulo %}
<body>
    {% block contenido %}
    {% endblock contenido %}
</body>
</html>