<!-- templates\pages\index.html -->

{% extends "paginas\base.html" %}
{% block titulo %}
{{block.super}}
{% endblock titulo %}
{% block contenido %} 
 <div class="ui container">
    <div class="ui grid"  x-data="varAlpine()" x-init="buscar()" > 
        <div class="ten wide column">  
            <div class="ui icon input ">
                <input type="text" x-model="caja_filtro"  @keydown.enter='buscar()' placeholder="Buscar por titulo...">
                <i class="inverted circular search link icon"></i>
            </div>
        <h1 x-show="estaCargando">Cargando...</h1>
        <table x-ref ="tabla" x-show="!estaCargando" class="ui celled structured padded table selectable striped">
        <thead>  
            <tr>
                <th class="four wide" scope="col">Isbn</th>
                <th class="seven wide" scope="col">Titulo</th>
                <th class="five wide" scope="col">Imagen</th>
            </tr>
        </thead>
        <tbody id="listado-libros">
            <template x-show="estaCargando" x-for="libro in libros" :key="libro.isbn">
                <tr>
                  <td x-text="libro.isbn" x-on:click="mostrarDetalle(libro)" ></td>
                  <td x-text="libro.titulo"></td>
                  <td><img class="ui small image" :src="libro.imagen"  alt="Portada"></td>
                </tr>
              </template>
        </tbody>
        </table>
        </div>
        <div class="five wide column">  
        <div class="ui inverted segment">
            <div class="ui mini inverted form">
                <div class="inline field">
                    <div  class="ui  large labeled input right left icon">
                        <i class="book orange icon"></i>
                        <input x-ref="mi-caja-isbn"  id="inputIsbn" placeholder="Ibsn del libro" type="text" x-model=detalles.isbn />
                        <a class="ui orange tag label">Isbn</a>
                    </div>
                </div>
                <br>
                <div class="inline field">
                <div class="ui large labeled input">
                    <div class="ui orange label">Titulo</div>
                    <input id="inputTitulo" placeholder="Titulo del libro" type="text" x-model=detalles.titulo />
                </div>
              </div>
              <div class="inline field">
                <div class="ui large labeled input">
                    <div class="ui orange label">Paginas</div>
                    <input id="inputPaginas" placeholder="Paginas" type="number" x-model=detalles.paginas />
                </div>
              </div> 
              <br>   
              <button x-ref="botonGuardar" class="ui button" @click="modificarLibro()">Guardar</button>
            </div>
            </div>
        </div>
        </div>
    </div>
   </div>
{% endblock contenido %}
