<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Librerias de Progamador</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<br>
    <h2 class="ui  header">
        <i class="book icon"></i>
        <div class="content">
            Librerias del Programador
        </div>
        <div class="content">
            Catalogo de libros
        </div>
    </h2>

<body>
  <div class="ui container">
    <div class="ui grid"  x-data="varAlpine()" x-init="buscar()" > 
        <div class="ten wide column">  
            <div class="ui icon input ">
                <input type="text" x-model="caja_filtro"  @keydown.enter='buscar()' placeholder="Buscar por titulo...">
                <i class="inverted circular search link icon"></i>
            </div>
        <h1 x-show="estaCargando">Cargando...</h1>
        <table x-ref ="tabla" x-show="!estaCargando" class="ui celled structured padded table selectable striped">
        <thead>  
            <tr>
                <th class="four wide" scope="col">Isbn</th>
                <th class="seven wide" scope="col">Titulo</th>
                <th class="five wide" scope="col">Imagen</th>
            </tr>
        </thead>
        <tbody id="listado-libros">
            <template x-show="estaCargando" x-for="libro in libros" :key="libro.isbn">
                <tr>
                  <td x-text="libro.isbn" x-on:click="mostrarDetalle(libro)" ></td>
                  <td x-text="libro.titulo"></td>
                  <td><img class="ui small image" :src="libro.imagen"  alt="Portada"></td>
                </tr>
              </template>
        </tbody>
        </table>
        </div>
        <div class="five wide column">  
        <div class="ui inverted segment">
            <div class="ui mini inverted form">
                <div class="inline field">
                    <div  class="ui  large labeled input right left icon">
                        <i class="book orange icon"></i>
                        <input x-ref="mi-caja-isbn"  id="inputIsbn" placeholder="Ibsn del libro" type="text" x-model=detalles.isbn />
                        <a class="ui orange tag label">Isbn</a>
                    </div>
                </div>
                <br>
                <div class="inline field">
                <div class="ui large labeled input">
                    <div class="ui orange label">Titulo</div>
                    <input id="inputTitulo" placeholder="Titulo del libro" type="text" x-model=detalles.titulo />
                </div>
              </div>
              <div class="inline field">
                <div class="ui large labeled input">
                    <div class="ui orange label">Paginas</div>
                    <input id="inputPaginas" placeholder="Paginas" type="number" x-model=detalles.paginas />
                </div>
              </div> 
              <br>   
              <button x-ref="botonGuardar" class="ui button" @click="modificarLibro()">Guardar</button>
            </div>
            </div>
        </div>
        </div>
    </div>
   </div>
<script>
    function varAlpine(){
        return{
            url: "http://127.0.0.1:8000/api/libro_view/",
            caja_filtro: "",
            estaCargando: true,
            detalles: {isbn: "", titulo: "",paginas:0},
            libros: [],
            mostrarDetalle: function(libro){
               this.detalles.isbn = libro.isbn
               this.detalles.titulo = libro.titulo 
               this.detalles.paginas = libro.paginas  
               this.validarDatos()  
            },
            buscar(){
                let filtrado = (this.caja_filtro=="") ? '' : '?titulo__contains=' +  this.caja_filtro
                this.apiListar(filtrado)
            },
            apiListar:function(filtrado){
                fetch(this.url + filtrado).
                then(response=> response.json()).
                then((list_libros)=>{
                    this.libros = list_libros.resultado;   
                    this.estaCargando=false
                    this.validarDatos()
                }).
                catch(console.log)
            },
            modificarLibro:function(){
                if(this.validarDatos()){
                var datos = {method:"PUT", body: JSON.stringify(this.detalles),headers: {
                'Content-Type': 'application/json'}
                 }
                fetch(this.url  + this.detalles.isbn + '/', datos)
                .then(response => {
                  if(response.ok) {
                    alert('Libro guardado!')
                    this.buscar()
                }
                  else{alert('No se pudo guardar el libro') }
                }).
                catch( error=>
                    alert('No se pudo guardar el libro')
                )
            }
            },
            validarDatos:function(){
                    const isbn_valido = this.detalles.isbn.length>=10
                    this.$refs.botonGuardar.disabled=!isbn_valido;
                    return isbn_valido
            }
      }   
    }
</script>
</body>
</html>