<!-- templates/base.html -->
{% load rest_framework%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
    />
    <script
      defer
      src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    {% load static %}
    <script type="module" src="{% static 'js/api.js' %}"></script>
  </head>
  <body>
    {% block heading %}
    <h1>Librerias del Programador</h1>
    {% endblock heading %} {% block content %} {% endblock content %}

    <p>a {% comment %}</p>

    <p>
      {% load static %}
      <script type="module" src="{% static 'js/index.js' %}"></script>
    </p>
    {% endcomment %}
  </body>
</html>
