<!-- templates/indexWithAlpine.html -->

{% extends "pages\base.html" %} {% load componentes_html %}
<!-- prettier-ignore-->
<p>
  {% block heading %} 
  {{block.super}}
  {% endblock heading %} 
  {% block content %}
</p>

<div
  x-cloak
  x-data="{
        libros: [], 
        estaCargando: true,
        filtro: '',
        dato_libro: {isbn:'',titulo:'', paginas:'', desc_corta:''},
        obtenerLibros(){
            fetch('http://127.0.0.1:8000/api/libro_view/'+ this.filtro)
            .then(response => response.json())
            .then(response => { 
                    this.libros = response.resultado; this.estaCargando = false; 
                    console.log(this.libros); });
        },
        guardarLibro(){
          fetch('http://127.0.0.1:8000/api/libro_view/' + this.dato_libro.isbn + '/',
           {
              method: 'PUT',
              body: JSON.stringify(this.dato_libro),
              headers: {
                'Content-Type': 'application/json'
              }
           })
        .then(response => {
             if (response.ok) {alert('Libro guardado!')}
             else {alert('No se pudo guardar el libro')}
        })
      },   
    }"
  x-init="obtenerLibros()"
>
  <div class="container text-center">
    <div class="row">
      <!-- prettier-ignore-->
      <div id="filtros" class="btn-group">
        {% mostrar_boton "TODOS" %} 
        {% mostrar_boton "JAVA" %} 
        {% mostrar_boton "PYTHON" %} 
        {% mostrar_boton "SQL" %} 
        {% mostrar_boton "HTML" %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h1 x-show="estaCargando">Cargando...</h1>
      <table class="table" x-show="!estaCargando">
        <tr>
          <th>Isbn</th>
          <th>Titulo</th>
          <th>Imagen</th>
        </tr>
        <template x-for="libro in libros" :key="libro.isbn">
          <tr>
            <td
              x-on:click="dato_libro.isbn=libro.isbn; dato_libro.titulo=libro.titulo; dato_libro.paginas=libro.paginas; dato_libro.desc_corta=libro.desc_corta "
              x-text="libro.isbn"
            ></td>
            <td x-text="libro.titulo"></td>
            <td><img :src="libro.imagen" /></td>
          </tr>
        </template>
      </table>
    </div>
    <div class="col-md-6">
      <div>
        <!-- prettier-ignore -->
        <p>
        {%mostrar_caja_texto "Isbn" "dato_libro.isbn" "text" %} 
        {%mostrar_caja_texto "Titulo" "dato_libro.titulo" "text"%}
        {%mostrar_caja_texto "Paginas" "dato_libro.paginas" "number" %}
        {%mostrar_caja_texto "Descripcion" "dato_libro.desc_corta" "textarea" %}
      </p>

        <div class="row">
          <button @click="guardarLibro()">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
