<!-- templates/index.html -->

{% extends "pages\base.html" %} {% block heading %} {{block.super}}
<div class="container text-center">
  <div class="row">
    <div id="filtros" class="btn-group">
      <button type="button" class="btn btn-secondary">Todos</button>
      <button type="button" class="btn btn-secondary">Python</button>
      <button type="button" class="btn btn-secondary">SQL</button>
      <button type="button" class="btn btn-secondary">HTML</button>
    </div>
  </div>
</div>

{% endblock heading %} {% block content %}
<div class="row">
  <div class="col-md-6">
    <table class="table">
      <tr>
        <th scope="col">ISBN</th>
        <th scope="col">Titulo</th>
        <th scope="col">Imagen</th>
      </tr>
      <tbody id="listado-libros"></tbody>
    </table>
  </div>
  <div class="col-md-6">
    <form>
      <div class="row mb-3">
        <label for="inputIsbn" class="col-sm-2 col-form-label">ISBN</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="inputIsbn" />
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputTitulo" class="col-sm-2 col-form-label">Titulo</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="inputTitulo" />
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputPaginas" class="col-sm-2 col-form-label"
          >Paginas</label
        >
        <div class="col-sm-2">
          <input type="number" class="form-control" id="inputPaginas" />
        </div>
      </div>
      <div class="row">
        <label for="inputPaginas" class="col-sm-2 col-form-label"
          >Descripcion</label
        >
        <div class="col-sm-6">
          <textarea
            class="form-control"
            aria-label="With textarea"
            id="textDescripcion"
          ></textarea>
        </div>
        <div class="row">
          <div class="col">
            <button class="btn btn-primary" type="button" id="btnGuardar">
              Guardar
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
